extends layout 

block content 
  form.create-form(action="" method="POST")
    h1= title
    ul 
      li 
        label(for="category") Name
        input(type="text" id='category' name='name' required value=(undefined === category? '': category.name))
      li 
        label(for="description") Description
        input(type="text" id='description' name='description' value=(undefined === category? '': category.description))
      if errors
       li 
         div.errors
           for error in errors 
             div= error.msg
    button Submit

