extends layout 

block content 
  h1= title
  form.create-form(action="" method="POST")
    ul 
      li 
        input(type="text" id='category' name='name' required value=(undefined === category? '': category.name))
        label(for="category") Name
      li 
        textarea(type="text" id='description' rows='8' name='description')
          if category != undefined 
            | #{category.description}
        label(for="description") Description
      if !(category == undefined)
        input(type="text" value=category._id hidden name='id')
      if errors
       li 
         div.errors
           for error in errors 
             div= error.msg
    span.dot
    button Submit

