extends layout 

block content 
    h1=title 
    div 
      strong Name 
      | #{item.name}
    if  item.description
     div 
      strong Description
      | #{item.description}
    div 
      strong Category
      | #{item.category}