doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;900&display=swap" rel="stylesheet">
  body
    nav 
      span 
        a(href="/") 
          img(src="/images/logo.svg", alt="Logo").logo
          | WaveStock 
      ul.nav-links 
        li 
          a(href="/item/list") Item
        li 
          a(href="/category/list") Category
        li 
          a(href="/inventory/") Inventory

    main      
      block content
